<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ serveur_web_nom }}</title>
</head>
<body>
    <h1>{{ serveur_web_message }}</h1>
    <p>Serveur : {{ serveur_web_nom }}</p>
    <p>Port : {{ serveur_web_port }}</p>
</body>
</html>
